.root {
    -fx-font-family: "Verdana";
}

.bordered-titled-title {
    -fx-background-color: white;
    -fx-translate-y: -10;
    -fx-translate-x: 10;
}
.bordered-titled-border {
    -fx-content-display: graphically;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}
.bordered-titled-content {
    -fx-padding: 18 5 5 5;
}

.text-18px {
    -fx-font-size: 18px;
}
